# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.scripts.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\juanfernando.diaz.JUANXXIII_23\New Unity Project\Assets\scripts\.idea\.idea.scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
